/* imagescale 33% */
.img-33
{
  width: 33%;
  height: auto;
}

nav
{
  font-size: 1.5em;
}

/* bold paragraphs for cards */
.bold-p{font-weight: bold;}


@media screen and (max-width: 62em)
{
  .img-33
  {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 48em)
{
  .img-33
  {
    width: 100%;
    height: auto;
  }

  nav
  {
    font-size: 1.0em;
  }
}